.App {
  text-align: center;
  background-color: lightgray;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button, [type=button], [type=submit] {
  border-radius: 0.25em;
}

input {
  background-color: #2199e8;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  color: #fefefe;
  cursor: pointer;
}

.row-center {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 40em) {
  .small-12-center {
    width: 100%;
  }
}

@media screen and (min-width: 40em) {
  .medium-8-center {
    width: 33.3333%;
  }
}
