.Body {
    margin-top: 1em;
    margin-right: 2em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: white;
    float: right;
    text-align: left;
}

@media screen and (min-width: 873px) {
    .width {
        width: 67%;
    }
}

@media screen and (max-width: 872px) {
    .Body {
        margin-left: 48px;
    }
}