.referral-results-clinic {
    border-bottom: 1px solid #ccc;
    padding-bottom: 1rem;
}

.contacts-container {
    border-top: 1px solid #ccc;
}

.link {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.hidden {
    display: none;
}