.row {
    background-color: white;
}

.row:after, .row:before {
    content: ' ';
    display: table;
}

.row:after {
    clear: both;
}

.small-centered {
    margin-left: auto;
    margin-right: auto;
}

.small-12 {
    width: 100%
}

@media screen and (min-width: 640px) {
    .medium-8 {
        width: 100%;
    }
}

@media screen and (max-width: 639px) {
    .medium-8 {
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 40em) {
    .column, .columns {
        padding-left: 1.9375rem;
        padding-right: 0.9375rem;
    }
}

#shore_logo img {
    margin-top: 1rem;
    margin-bottom: 1.8rem;
}

.text-center {
    text-align: left;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}