.menu {
    font-weight: 400!important;
    color: white;
    background-color: #096ab4;
    margin-top: 1em;
}

ul {
    color: #FFF;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li:hover {
    background-color: #0975c7;
}

@media screen and (min-width: 873px) {
    .menu {
        margin-left: 4em;
    }
    #subNavWrapper {
        display: block;
        margin-bottom: 0;
        float: left;
        width: 22%;
        min-height: 1px;
    }
    ul {
        display: block;
        list-style-type: none;
    }
    a.menuLink {
        padding-left: 1em;
    }
}

@media screen and (max-width: 872px) {
    .menuContainer {
        margin-left: 2em;
        padding-left: 1em;
        padding-right: 32px;
        width: 100%;
    }
    #subNavWrapper {
        margin-bottom: 0;
        min-height: 1px;
    }
    ul {
        list-style-type: none;
        margin-block-start: 0em;
        margin-block-end: 0em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        display: flex;
        flex-direction: row;
        width: 95%;
    }
    .menuContainer {
        display: flex;
        flex-direction: row;
    }
    li {
        width:20%;
    }
    a.menuLink {
        padding-left: 0.5em;
    }
}

.menuLink {
    color: #FFF;
}

.current {
    background-color: #097bd3;
}

a.menuLink {
    display: block;
    text-align: left;
    padding-top: 1em;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 24px;
    height: 3.1em;
}

li {
    height: 5em;
}

li.hidden {
    display: none;
}