.panic-button {
    display: inline-block;
    position: fixed;
    text-align: center;
    top: 1em;
    right: 1em;
    border: solid 2px rgb(203, 81, 81);
    border-radius: 5px;
    cursor: pointer;
    max-height: 107px;
    overflow: ellipse;
}

@media screen and (min-width: 640px){
    .panic-button {
        min-width: 15rem;
    }
    .panic-button-top  {
        padding: 0em 1em;
    }
    .full {
        display: inline-block;
    }
    .short {
        display: none;
    }
}

@media screen and (max-width: 639px){
    .panic-button {
        max-width: 10rem;
    }
    .panic-button-top  {
        padding: 0em 0.5em;
    }
    .full {
        display: none;
    }
    .short {
        display: flex;
        padding-top: 0.3em;
        padding-left: 0.3em;
    }
}

#panic-button-top {
    background-color: rgb(203, 81, 81);
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.2em;
}

#panic-button-description {
    background-color: white;
    display: flex;
    padding: 0.2em 0.5em;
    height: 48px;
}

#panic-button-description span {
    flex-grow: 1;
    width: 0;
}