a {
    color: #2199e8;
    text-decoration: none;
    line-height: inherit;
    cursor: pointer;
    background-color: transparent;

}

blockquote, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, li, ol, p, pre, td, th, ul {
    margin: 0;
    padding: 0;
}

div {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    vertical-align: middle;
}

a img {
    border: 0;
}